.height-max{
    min-height: 79.9vh;
    overflow: hidden;
}
.example-header-image {
    background-image: url('https://jackiethey.me/i/trcincco/18342/garden-picsart-photos-design-ideas-pics-and-tips-five-steps-to-making-your-a-carbon-sink-daily-amazing-alt-gardener-pl.jpg');
    background-size: cover;
  }
